<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.VisualBoyAdvance</string>
	<key>Core Version</key>
	<string>1.8.0.2</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>1c07e2a8ebca40ef230706b0f7b5d5b0</string>
	<key>Timestamp</key>
	<date>2015-05-18T12:14:23Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
