<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Nestopia</string>
	<key>Core Version</key>
	<string>1.42.4</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>29aa8e74ca85b7dd1c6744e2ca5ac5ab</string>
	<key>Timestamp</key>
	<date>2015-05-13T13:46:33Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
