<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Nestopia</string>
	<key>Core Version</key>
	<string>1.42.4</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>3dcd1401bcafde77c232e58056ae5bb1</string>
	<key>Timestamp</key>
	<date>2015-05-12T19:45:24Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
