<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Gambatte</string>
	<key>Core Version</key>
	<string>0.5.0.2</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>a8413347d5df8c9d14f97f0330d67bce</string>
	<key>Timestamp</key>
	<date>2015-05-15T18:15:20Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
