<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.VisualBoyAdvance</string>
	<key>Core Version</key>
	<string>1.8.0.1232</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>605286b3aedeffba70bf46b834b120b1</string>
	<key>Timestamp</key>
	<date>2016-04-06T08:25:39Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
