<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Nestopia</string>
	<key>Core Version</key>
	<string>1.42.4</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>5a5c2f4f1cafb1f55a8dc0d5ad4550e5</string>
	<key>Timestamp</key>
	<date>2015-05-15T10:54:58Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
