<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Nestopia</string>
	<key>Core Version</key>
	<string>1.42.4</string>
	<key>Name</key>
	<string>Save-Game-2 2015-05-11 16:43:58 +0000</string>
	<key>ROM MD5</key>
	<string>7c6283eba22a84d506ae48ee2a5e8caf</string>
	<key>Timestamp</key>
	<date>2015-05-11T16:43:58Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
