<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.SNES9x</string>
	<key>Core Version</key>
	<string>1.53.3</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>0829ebfde80e7a9673fe9966a8d47b0f</string>
	<key>Timestamp</key>
	<date>2015-05-15T17:50:25Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
