<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Nestopia</string>
	<key>Core Version</key>
	<string>1.42.4</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>d7389d8efbfc9b11be3e05bdeac05513</string>
	<key>Timestamp</key>
	<date>2015-05-15T17:34:44Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
